<nav class = 'navbar navbar-default' role = 'navigation'>
	<ul class = 'nav navbar-nav'>
		<li> <a href = '/'>Главная </a></li>
	</ul>
	<ul class = 'nav navbar-nav navbar-right border'>
		<li> <a href = '/loggin'> Войти </a></li>
	</ul>
</nav>